! Fonts and colors
URxvt.font:xft:Monospace:pixelsize=16
URxvt.letterSpace: -1
URxvt.background: #000000
URxvt.foreground: #0f84e7
URxvt.colorUL: purple
URxvt.underlineColor: purple
URxvt.cursorColor: #93a1a1

! Remove scrollbar
URxvt.scrollBar: false

! Make links clickable
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Start as login-shell
URxvt.loginShell:  true

! Behaviour
URxvt.saveLines: 10000
URxvt.internalBorder: 0
URxvt.lineSpace: 0
URxvt.geometry: 80x2
URxvt.transparent: true
URxvt.shading: 40
